PORT=8787
CORS_ORIGIN=*
QUOTE_SECRET=replace-with-long-random-secret
PRICING_FILE=./data/pricing.json
SHOPIFY_SHOP_DOMAIN=fineystpatches.myshopify.com
SHOPIFY_API_VERSION=2026-04
SHOPIFY_ADMIN_ACCESS_TOKEN=shpat_xxx
